strong {
    text-align: center;
}

header {
    text-align: center;
}

body {
    text-align: center;
    background-color: rgb(145, 194, 237);
    background-image: linear-gradient(to right,aqua,rgb(51, 184, 255),rgb(59, 255, 190 ) );
}

main {
    text-align: center;
    background-color: aliceblue;
    margin: 0% auto;
    margin-top: 8vw;
    margin-bottom: 8vw;
    padding: 200px 200px;
    border-radius: 100px;
    width: 380px;
}

input {
    margin: 10px;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    border-radius: 55px;
    text-decoration: none;
}

div a{
    text-decoration: none;
    border-radius: 5px;
}

div p {
    margin-top: 0%;
    text-decoration: none;
}

button {
    background-image: linear-gradient(to right,aqua,rgb(51, 184, 255),rgb(59, 255, 190 ) );
    margin: 10px;
    width: 80%;
    padding: 20px;
    border-radius: 55px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
}
